@font-face {
    font-family: 'Miller';
    src: url("https://github.com/wszdwp/wszdwp.github.io/tree/master/css/MillerDisplayRoman.ttf")
}
.Miller {
    font-family: 'Miller'
}

body {
    font-family: STFangSong, Miller, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #111;
    background-color: #FCFAF2;
}

.title a {
    display: block;
}

.title {
    cursor: pointer;
}

li.title:hover {
    background-color: #eee;
}

.panel {
    border-radius: 0;
}

.panel-default > .panel-heading {
    background-image: none;
    background-color: #fff;
}

.navbar-default {
    background-image: none;
    background-color: #fff;
  box-shadow: none;
}

.icon>svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.icon>svg path {
    fill: #828282
}

.site-nav .menu-icon {
    display: none
}

@media screen and (max-width: 600px) {
    .site-nav .menu-icon>svg {
        width: 18px;
        height: 15px
    }
    .site-nav .menu-icon>svg path {
        fill: #5c5c5c
    }
}